body {
    margin: 0;
    font-family: sans-serif;
    font-size: 18px; 
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black; 
    padding: 1em; 
}

#logo {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    background: #B200FF; 
}

.menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    padding: 0; 
    margin: 0; 
    color: yellow; 
    width: 250px;
}   

li:hover {
    color: rgb(255, 0, 17);
}

main {
    max-width: 80%; 
    margin: 1em auto; 
}

#boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.box {
    border-radius: 1em; 
    min-width: 300px; 
    min-height: 300px; 
    border: 2px solid #404040; 
    background: #B2B2B2; 
    margin: 1em; 
}

.box:hover {
    background: #444444;
}