/* Nav Bar Styling */
.navContainer {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #7c88a6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #1C2127;
}

/* Left side: logo and title */
.logoTitle {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.title {
  text-decoration: none;
  color: #1C2127;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Center nav links */
.navLinks {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navLinks > a {
  color: #1C2127;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
  
}

.navLinks > a:hover {
  color: #ffffff;
}

/* Right-side buttons */
.navButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-right: 4rem;
}

.navButtons button {
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #3d52a0;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButtons button:hover {
  background-color: #263f5d;
}


/* Footer CSS */
#footerContainer {
    height: 100px;
    background-color: #ffffff;
}